# Config for library desugaring
common:core_library_desugaring --desugar_java8_libs

# Flags to enable mobile-install v3
mobile-install --mode=skylark --mobile_install_aspect=@rules_android//mobile_install:mi.bzl --mobile_install_supported_rules=android_binary
# Required to build Android builder tools
common --java_language_version=17
common --java_runtime_version=17
common --tool_java_language_version=17
# Required to invoke the Studio deployer jar
common --tool_java_runtime_version=17

# Workaround for a rules_java + bazel < 8.3.0 issue. It should only be relevant
# for bazel@HEAD and rolling releases.
# https://github.com/bazelbuild/bazel/pull/26119
common --repositories_without_autoloads=bazel_features_version,bazel_features_globals,cc_compatibility_proxy

# Newer versions of protobuf require downstream transitive projects to set C++ language version flags.
common:linux --cxxopt=-std=c++17
common:linux --host_cxxopt=-std=c++17
common:macos --cxxopt=-std=c++17
common:macos --host_cxxopt=-std=c++17
common:windows --cxxopt=/std:c++17
common:windows --host_cxxopt=/std:c++17
# Suppress warnings from external repos
common:linux --per_file_copt=external/.*@-w
common:linux --host_per_file_copt=external/.*@-w
common:macos --per_file_copt=external/.*@-w
common:macos --host_per_file_copt=external/.*@-w
common:windows --per_file_copt=external/.*@/w
common:windows --host_per_file_copt=external/.*@/w

# Enable protobuf MSVC support on Windows
build:windows --define=protobuf_allow_msvc=true

common --enable_platform_specific_config

# Use prebuilt protoc
common --incompatible_enable_proto_toolchain_resolution
common --@com_google_protobuf//bazel/toolchains:prefer_prebuilt_protoc=true
# Ensure that we don't accidentally build protobuf or gRPC
common --per_file_copt=external/.*protobuf.*@--PROTOBUF_WAS_NOT_SUPPOSED_TO_BE_BUILT
common --host_per_file_copt=external/.*protobuf.*@--PROTOBUF_WAS_NOT_SUPPOSED_TO_BE_BUILT
common --per_file_copt=external/.*grpc.*@--GRPC_WAS_NOT_SUPPOSED_TO_BE_BUILT
common --host_per_file_copt=external/.*grpc.*@--GRPC_WAS_NOT_SUPPOSED_TO_BE_BUILT
