# Config for library desugaring
common:core_library_desugaring --desugar_java8_libs

# Flags to enable mobile-install v3
mobile-install --mode=skylark --mobile_install_aspect=@rules_android//mobile_install:mi.bzl --mobile_install_supported_rules=android_binary
# Required to build Android builder tools
common --java_language_version=17
common --java_runtime_version=17
common --tool_java_language_version=17
# Required to invoke the Studio deployer jar
common --tool_java_runtime_version=17

# Workaround for a rules_java + bazel < 8.3.0 issue. It should only be relevant
# for bazel@HEAD and rolling releases.
# https://github.com/bazelbuild/bazel/pull/26119
common --repositories_without_autoloads=bazel_features_version,bazel_features_globals

# Newer versions of protobuf require downstream transitive projects to set C++ language version flags.
common --cxxopt=-std=c++17
common --host_cxxopt=-std=c++17
# Suppress warnings from external repos
common --per_file_copt=external/.*@-w
common --host_per_file_copt=external/.*@-w

# Enable protobuf MSVC support on Windows
build:windows --define=protobuf_allow_msvc=tru

